<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonsterService1" />
                <binding name="BasicHttpBinding_IMonsterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4017/MonsterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonsterService1"
                contract="ServiceReference1.IMonsterService" name="BasicHttpBinding_IMonsterService1" />
            <endpoint address="http://localhost/MonsterDataService/MonsterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonsterService"
                contract="MonsterServiceReference.IMonsterService" name="BasicHttpBinding_IMonsterService" />
        </client>
    </system.serviceModel>
</configuration>